* {
    margin: 0;
    padding: 0;
}

body{
    height: 800px;
}

.load-body{
    display: flex;
    justify-content: center;
}

.load {
    position: relative;
    top: 200px;
    margin: auto;
    width: 400px;
    height: 200px;
    border: 1px solid #BBB;
    border-radius: 3%;
    box-shadow: 5px 5px 5px #000;
}

@keyframes move {

}

.load > .load-title {
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    height: 50px;
}

.load > .input-div {
    /*margin-top: 20px;*/
    margin: 20px auto 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 200px;
}

.elem {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 20px;
    display: block;
    text-indent: 10px;
}

.load > .err-msg {
    text-align: center;
    font-size: 14px;
    color: #F00;
    height: 20px;
}

.load > .btn-div {
    margin: 8px auto 0;
    bottom: 10px;
    width: 200px;
    display: flex;
    justify-content: space-around;
}

.btn-div > .btn-style {
    width: 70px;
    height: 20px;
    cursor: pointer;
    outline: none;
    background: none;
    border: 1px #CCC solid;
}

.btn-div > .btn-style:hover {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border: 1px #CCC solid;
}